<%- include('header.ejs') %>

<div class="box" id="heading">
    <h1><%= day %> </h1>
</div>

<div class="box">
    <% for(var i=0; i<items.length; i++) { %>
        <form method="post" action="/delete">
            <div class="item">
                <input type="checkbox" name="checkbox" value="<%= items[i]._id %>" onChange="this.form.submit()">
                <p><%= items[i].text %></p>
            </div>
        </form>
    <% } %> 

    <form method="POST" class="item">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="button">+</button>
    </form>
</div>

<%- include('footer.ejs') %> 